.ai-output {
  @apply text-xs;
}

.ai-output *[data-visibility="hidden"] {
  @apply hidden;
}

.ai-output p,
.ai-output h1,
.ai-output h2,
.ai-output h3,
.ai-output h4,
.ai-output h5,
.ai-output h6,
.ai-output ul,
.ai-output ol,
.ai-output table,
.ai-output li {
  @apply my-2;
}

/* Headings  */

.ai-output h2 {
  @apply text-xl font-semibold text-primary mt-5 mb-4;
}

.ai-output h3 {
  @apply text-base text-primary font-semibold mt-5 mb-4 bg-primary/10 py-2 px-4 rounded-md overflow-hidden relative;
}

.ai-output h3::before {
  @apply content-[''] block w-[3px] bg-primary mr-3 absolute inset-y-0 left-0 h-full;
}

.ai-output h4 {
  @apply text-sm font-semibold uppercase mt-4 mb-3;
}

.ai-output h5 {
  @apply text-xs font-semibold uppercase mt-4 mb-2;
}

/* Table */
.ai-output table {
  @apply w-full border-collapse border text-left rounded-md;
}

.ai-output table th {
  @apply bg-muted border px-2 py-2 font-semibold;
}

.ai-output table td {
  @apply border px-2 py-2;
}

.ai-output table tr:nth-child(even) {
  @apply bg-muted;
}

/* List */

.ai-output ul {
  @apply list-disc pl-6 space-y-2;
}

.ai-output hr {
  @apply my-4;
}

/* Overall Score */
.ai-output *[data-section="overall-score"] {
  @apply bg-primary/10 p-4 rounded-xl text-center space-y-3 text-foreground mb-4;
}

.ai-output *[data-section="overall-score"] p:first-of-type {
  @apply text-base font-semibold text-foreground;
}

.ai-output *[data-section="overall-score"] p:nth-of-type(2) {
  @apply text-4xl font-bold text-primary;
}

.ai-output *[data-section="overall-score"] p:last-of-type {
  @apply text-sm;
}

/* Criteria Score */

.ai-output *[data-section="criteria-score"] table {
  @apply w-full table-fixed text-base text-center border-spacing-x-6 border-separate border-none;
}

.ai-output *[data-section="criteria-score"] table th {
  @apply font-semibold py-3 border-none bg-inherit;
}

.ai-output *[data-section="criteria-score"] table td {
  @apply text-primary font-bold text-2xl pb-3 border-0 border-b border-accent bg-inherit;
}

.ai-output *[data-section="criteria-score"] table th,
.ai-output *[data-section="criteria-score"] table td {
  @apply w-1/2 mx-2;
}

.ai-output *[data-section="criteria-score"] table:last-of-type {
  @apply mb-4;
}

/* Criteria Score Detail */

.ai-output *[data-section="criteria-detail"] {
  @apply border p-4 rounded-xl mb-2;
}

.ai-output *[data-section="criteria-detail"] p:first-of-type {
  @apply text-base font-semibold;
}

.ai-output *[data-section="criteria-detail"] p {
  @apply mb-3;
}
.ai-output *[data-section="criteria-detail"] ul {
  @apply space-y-1 list-none pl-0;
}

.ai-output *[data-section="criteria-detail"] li {
  @apply font-semibold mb-2;
}

.ai-output *[data-section="criteria-detail"] li strong {
  @apply text-xs mr-1 font-semibold h-5 w-5 rounded-xs inline-flex items-center justify-center border text-primary bg-primary/10 border-primary/50;
}

.ai-output *[data-section="criteria-detail"] li strong[data-score="0"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="0.5"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="1"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="1.5"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="2"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="2.5"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="3"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="3.5"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="4"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="4.5"] {
  @apply text-red-500 bg-red-50 border-red-400 dark:bg-red-900/20 dark:border-red-400 dark:text-red-400;
}

.ai-output *[data-section="criteria-detail"] li strong[data-score="5"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="5.5"] {
  @apply text-yellow-600 bg-yellow-50 border-yellow-400 dark:bg-yellow-900/20 dark:border-yellow-400 dark:text-yellow-400;
}

.ai-output *[data-section="criteria-detail"] li strong[data-score="6"] {
  @apply text-green-700 bg-green-50 border-green-600 dark:bg-green-900/20 dark:border-green-400 dark:text-green-400;
}

.ai-output *[data-section="criteria-detail"] li strong[data-score="7"] {
  @apply text-blue-500 bg-blue-50 border-blue-400 dark:bg-blue-900/20 dark:border-blue-300 dark:text-blue-300;
}

.ai-output *[data-section="criteria-detail"] li strong[data-score="8"],
.ai-output *[data-section="criteria-detail"] li strong[data-score="9"] {
  @apply text-purple-500 bg-purple-50 border-purple-400 dark:bg-purple-900/20 dark:border-purple-300 dark:text-purple-300;
}
