.ai-analysis h2 {
  @apply text-2xl font-semibold text-primary;
}

.ai-analysis p {
  @apply text-sm text-muted-foreground;
}

.ai-analysis blockquote:first-of-type {
  @apply bg-primary/10 p-4 rounded-xl text-center space-y-3 text-foreground mb-4;
}

.ai-analysis blockquote:first-of-type p:first-of-type {
  @apply text-base font-semibold text-foreground;
}

.ai-analysis blockquote:first-of-type p:nth-of-type(2) {
  @apply text-4xl font-bold text-primary;
}

.ai-analysis blockquote:first-of-type p:last-of-type {
  @apply text-sm;
}

/* Criteria Grid */

/* .ai-analysis table tr {
  @apply text-center;
} */

.ai-analysis table:first-of-type,
.ai-analysis table:nth-of-type(2) {
  @apply w-full table-fixed text-base text-center border-spacing-x-6 border-separate;
}

.ai-analysis table:first-of-type th,
.ai-analysis table:nth-of-type(2) th {
  @apply font-semibold py-3;
}

.ai-analysis table:first-of-type td,
.ai-analysis table:nth-of-type(2) td {
  @apply text-primary font-bold text-2xl pb-3 border-b border-accent;
}

.ai-analysis table:first-of-type th,
.ai-analysis table:first-of-type td,
.ai-analysis table:nth-of-type(2) th,
.ai-analysis table:nth-of-type(2) td {
  @apply w-1/2 mx-2;
}

.ai-analysis table:nth-of-type(2) {
  @apply mb-4;
}

/* Assessment */

/* <section className="flex flex-col gap-3 p-4 border border-border rounded-xl">
      <H4>{title}</H4>
      <p className="text-xs text-muted-foreground">{description}</p>
      <ul className="flex flex-col gap-2 text-xs">
        {items.map((item, index) => (
          <li key={index} className="flex items-center gap-2">
            <div className="h-5 w-5 text-xs bg-primary/10 font-semibold font-mono text-primary border border-primary rounded-xs flex items-center justify-center">
              {item.score}
            </div>
            <span className="font-semibold">{item.label}</span>
          </li>
        ))}
      </ul>
    </section> */
