@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-placeholder: hsl(var(--contrast-2));
  --color-border: hsl(var(--border));
  --color-destructive: hsl(var(--destructive));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-accent: hsl(var(--accent));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-muted: hsl(var(--muted));
  --color-surface-foreground: hsl(var(--surface-foreground));
  --color-surface: hsl(var(--surface));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary: hsl(var(--primary));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-popover: hsl(var(--popover));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card: hsl(var(--card));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Sidebar */
  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
}

:root {
  /** Theme primary colors */
  --primary-0: 24.6 95% 53.1%;

  /** Surface colors */
  --surface-0: 0 0% 100%;
  --surface-1: 0 0% 96%;
  --surface-2: 0 0% 92%;
  --surface-3: 0 0% 86%;

  /** Contrast colors */
  --contrast-0: 0 0% 12%;
  --contrast-1: 0 0% 40%;
  --contrast-2: 0 0% 50%;

  /** Theme colors */
  --background: var(--surface-0);
  --foreground: var(--contrast-0);
  --card: var(--surface-1);
  --card-foreground: var(--contrast-0);
  --popover: var(--surface-0);
  --popover-foreground: var(--contrast-0);
  --primary: var(--primary-0);
  --primary-foreground: var(--surface-0);
  --surface: var(--surface-1);
  --surface-foreground: var(--contrast-0);
  --muted: var(--surface-1);
  --muted-foreground: var(--contrast-1);
  --accent: var(--surface-2);
  --accent-foreground: var(--contrast-0);
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: var(--contrast-0);
  --border: var(--surface-3);
  --input: var(--surface-1);
  --ring: var(--primary-0);
  --radius: 0.75rem;

  /* Sidebar */
  --sidebar: var(--surface-0);
  --sidebar-foreground: var(--contrast-0);
  --sidebar-primary: var(--primary-0);
  --sidebar-primary-foreground: var(--surface-0);
  --sidebar-accent: var(--surface-2);
  --sidebar-accent-foreground: var(--contrast-0);
  --sidebar-border: var(--surface-3);
  --sidebar-ring: var(--primary-0);
}

.dark {
  /** Primary colors */
  --primary-0: 25 96% 62%;

  /** Surface colors */
  --surface-0: 0 0% 10%;
  --surface-1: 0 0% 15%;
  --surface-2: 0 0% 20%;
  --surface-3: 0 0% 25%;

  /** Contrast colors */
  --contrast-0: 0 0% 94%;
  --contrast-1: 0 0% 70%;
  --contrast-2: 0 0% 60%;

  /* Theme colors */
  --background: var(--surface-0);
  --foreground: var(--contrast-0);
  --card: var(--surface-1);
  --card-foreground: var(--contrast-0);
  --popover: var(--surface-1);
  --popover-foreground: var(--contrast-0);
  --primary: var(--primary-0);
  --primary-foreground: var(--surface-0);
  --surface: var(--surface-1);
  --surface-foreground: var(--contrast-0);
  --muted: var(--surface-1);
  --muted-foreground: var(--contrast-1);
  --accent: var(--surface-2);
  --accent-foreground: var(--contrast-0);
  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: var(--contrast-0);
  --border: var(--surface-3);
  --input: var(--surface-1);
  --ring: var(--primary-0);

  /* Sidebar */
  --sidebar: var(--surface-1);
  --sidebar-foreground: var(--contrast-0);
  --sidebar-primary: var(--primary-0);
  --sidebar-primary-foreground: var(--surface-0);
  --sidebar-accent: var(--surface-2);
  --sidebar-accent-foreground: var(--contrast-0);
  --sidebar-border: var(--surface-3);
  --sidebar-ring: var(--primary-0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    cursor: pointer;
  }
}

/* --base: 0 0% 10%;
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 20.5 90.2% 48.2%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 20.5 90.2% 48.2%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%; */
