@import "tailwindcss";
@import "tw-animate-css";
@import "./ai-output.css";
@import "./article.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-glowing: 0 0 16px hsl(var(--primary) / 0.5);
  --shadow-glowing-sm: 0 0 10px hsl(var(--primary) / 0.5);
  --shadow-glowing-lg: 0 0 30px hsl(var(--primary) / 0.5);

  --shadow-lg: 0 0 16px rgba(0, 0, 0, 0.2);
  --shadow-xl: 0 0 32px rgba(0, 0, 0, 0.3);
}

@theme inline {
  /* Base Colors */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-placeholder: hsl(var(--contrast-2));
  --color-border: hsl(var(--border));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-hover: hsl(var(--accent-hover));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-muted: hsl(var(--muted));
  --color-surface-foreground: hsl(var(--surface-foreground));
  --color-surface: hsl(var(--surface));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-primary: hsl(var(--primary));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-popover: hsl(var(--popover));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card: hsl(var(--card));
  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));

  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Sidebar */
  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));

  /* Aside */
  --color-aside: hsl(var(--aside));
  --color-aside-foreground: hsl(var(--aside-foreground));
  --color-aside-primary: hsl(var(--aside-primary));
  --color-aside-primary-foreground: hsl(var(--aside-primary-foreground));
  --color-aside-accent: hsl(var(--aside-accent));
  --color-aside-accent-foreground: hsl(var(--aside-accent-foreground));
  --color-aside-border: hsl(var(--aside-border));
  --color-sidebar-ring: var(--sidebar-ring);

  /* Chart */
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
}

:root {
  /** Theme primary colors */
  --primary-0: 24.6 95% 53.1%;
  --success-0: 137 80% 30%;
  --destructive-0: 0 84.2% 60.2%;

  --dark: 0 0% 0%;
  --light: 0 0% 100%;

  /** Surface colors */
  --surface-0: 0 0% 100%;
  --surface-1: 0 0% 96%;
  --surface-2: 0 0% 93%;
  --surface-3: 0 0% 87%;
  --surface-4: 0 0% 87%;

  /** Contrast colors */
  --contrast-0: 0 0% 20%;
  --contrast-1: 0 0% 40%;
  --contrast-2: 0 0% 50%;

  /* Chart */
  --chart-1: 210 70% 45%;
  --chart-2: 160 60% 40%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 55%;
  --chart-5: 340 75% 60%;

  /** Theme colors */
  --background: var(--surface-0);
  --foreground: var(--contrast-0);
  --card: var(--surface-0);
  --card-foreground: var(--contrast-0);
  --popover: var(--surface-0);
  --popover-foreground: var(--contrast-0);
  --primary: var(--primary-0);
  --primary-foreground: var(--light);
  --surface: var(--surface-1);
  --surface-foreground: var(--contrast-0);
  --muted: var(--surface-1);
  --muted-foreground: var(--contrast-1);
  --accent: var(--surface-2);
  --accent-foreground: var(--contrast-0);
  --accent-hover: var(--surface-3);
  --destructive: var(--destructive-0);
  --destructive-foreground: var(--light);
  --border: var(--surface-4);
  --input: var(--surface-4);
  --ring: var(--primary-0);
  --radius: 0.75rem;
  --success: var(--success-0);
  --success-foreground: var(--light);

  /* Sidebar */
  --sidebar: var(--surface-0);
  --sidebar-foreground: var(--contrast-0);
  --sidebar-primary: var(--primary-0);
  --sidebar-primary-foreground: var(--surface-0);
  --sidebar-accent: var(--surface-2);
  --sidebar-accent-foreground: var(--contrast-0);
  --sidebar-border: var(--surface-3);
  --sidebar-ring: var(--primary-0);

  /* Aside */
  --aside: var(--surface-0);
  --aside-foreground: var(--contrast-0);
  --aside-primary: var(--primary-0);
  --aside-primary-foreground: var(--surface-0);
  --aside-accent: var(--surface-2);
  --aside-accent-foreground: var(--contrast-0);
  --aside-border: var(--surface-4);
  --aside-ring: var(--primary-0);
}

.dark {
  /** Primary colors */
  --primary-0: 25 96% 62%;
  --success-0: 137 95% 65%;
  --destructive-0: 0 84.2% 68%;

  /** Surface colors */
  --surface-0: 0 0% 10%;
  --surface-1: 0 0% 16%;
  --surface-2: 0 0% 20%;
  --surface-3: 0 0% 22%;
  --surface-4: 0 0% 26%;

  /** Contrast colors */
  --contrast-0: 0 0% 94%;
  --contrast-1: 0 0% 75%;
  --contrast-2: 0 0% 60%;

  /* Chart */
  --chart-1: 210 60% 55%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 55% 60%;
  --chart-5: 340 65% 60%;

  /* Theme colors */
  --background: var(--surface-0);
  --foreground: var(--contrast-0);
  --card: var(--surface-1);
  --card-foreground: var(--contrast-0);
  --popover: var(--surface-1);
  --popover-foreground: var(--contrast-0);
  --primary: var(--primary-0);
  --primary-foreground: var(--dark);
  --surface: var(--surface-1);
  --surface-foreground: var(--contrast-0);
  --muted: var(--surface-1);
  --muted-foreground: var(--contrast-1);
  --accent: var(--surface-2);
  --accent-foreground: var(--contrast-0);
  --accent-hover: var(--surface-3);
  --destructive: var(--destructive-0);
  --destructive-foreground: var(--dark);
  --border: var(--surface-4);
  --input: var(--surface-1);
  --ring: var(--primary-0);
  --success: var(--success-0);
  --success-foreground: var(--dark);

  /* Sidebar */
  --sidebar: var(--surface-1);
  --sidebar-foreground: var(--contrast-0);
  --sidebar-primary: var(--primary-0);
  --sidebar-primary-foreground: var(--surface-0);
  --sidebar-accent: var(--surface-2);
  --sidebar-accent-foreground: var(--contrast-0);
  --sidebar-border: var(--surface-3);
  --sidebar-ring: var(--primary-0);

  /* Aside */
  --aside: var(--surface-1);
  --aside-foreground: var(--contrast-0);
  --aside-primary: var(--primary-0);
  --aside-primary-foreground: var(--surface-0);
  --aside-accent: var(--surface-2);
  --aside-accent-foreground: var(--contrast-0);
  --aside-border: var(--surface-3);
  --aside-ring: var(--primary-0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-marquee {
    animation: marquee var(--marquee-duration, 20s) linear infinite;
  }

  .animate-marquee-reverse {
    animation: marquee-reverse var(--marquee-duration, 20s) linear infinite;
  }

  .section-title {
    @apply text-3xl md:text-4xl lg:text-5xl font-semibold leading-relaxed sm:leading-normal sm:tracking-tight;
  }

  .section-desc {
    @apply md:text-lg text-muted-foreground;
  }
}

/* --base: 0 0% 10%;
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 20.5 90.2% 48.2%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 20.5 90.2% 48.2%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%; */
